{% extends 'master.html' %}
{% load static %}
{% block content %}
    <link href="{% static "css/index.css" %}" rel="stylesheet" type="text/css" media="all" />
    <div style="height:10px;"></div>
        <div class="news-content clearfix">
            <div class="news-content-fix">
            <div class="news-content-item clearfix" >
                <a href="javascript:;" class="news-content-title  clearfix">
                    <div class="news-title-fl  clearfix">
                        <div class="news-title-color"></div>
                        <div class="news-title-title">推荐新闻</div>
                    </div>
                    <div class="news-title-fr news-title-img01"></div>
                </a>
                <ul class="news-content-lists clearfix">
                    <li class="clearFix">
                        <a href="#">
                            <i>【08-09】</i>
                            <span>关于Man The server反射放大攻击的安全预警通知</span>
                        </a>
                    </li>
                </ul>
            </div>

        <div class="news-content-item clearfix">
                <a href="javascript:;" class="news-content-title  clearfix">
                    <div class="news-title-fl  clearfix">
                        <div class="news-title-color"></div>
                        <div class="news-title-title">浏览记录</div>
                    </div>
                    <div class="news-title-fr news-title-img01"></div>
                </a>
                <ul class="news-content-lists clearfix">
                    <li class="clearFix">
                        <a href="#">
                            <i>【08-09】</i>
                            <span>关于Man The server反射放大攻击的安全预警通知</span>
                        </a>
                    </li>
                </ul>
            </div>
            </div>
        </div>


    <!--main-->
<div class="news_1">
	<div class="left">
		<div class="left_1">
			<h2 ><a href="" >分类</a></h2>

			<p ><a href="">韩国民众打“钓鱼岛是中国土地”标语欢迎习近平</a></p>
		</div>
		<div class="left_2">
			<h2><a href="">分类</a></h2>
			<p style="text-align:center;"><a href="">内马尔隔空向J罗宣战：巴西会让你饱受折磨！</a></p>
		</div>
		<div class="left_3">
			<h2><a href="">分类</a></h2>
			<p style="text-align:center;"><a href="">[策划]解说好声音：重温宋老刘建宏进啦</a></p>
		</div>
		<div class="left_4">
			<h2><a href="">分类</a></h2>

			<p style="text-align:center;"><a href="">宝贝遭强吻很无奈：朋友叫我别反抗！</a></p>
		</div>
		<div class="left_5">
			<h2><a href="">今日话题</a></h2>
			<p style="text-align:center;"><a href="">摄影师拍到美洲豹猎杀鳄鱼全过程</a></p>
		</div>
	</div>

</div>

{% endblock %}